.toggler {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: max(70%, 20rem);
  transition: all 0.25s ease;
  padding-top: 9px;

  input {
    padding: var(--spacer-3) var(--spacer-4);
    appearance: none;
    font-size: var(--spacer-4);
    cursor: pointer;
    color: var(--bodyTextClr);

    &::before {
      content: "Menu";
    }

    &:checked {
      &::before {
        content: "Collapse";
      }
    }
  }

  &:has(input:checked) {
    background: var(--bodyBg);
  }
}

@media screen and (min-width: 768px) {
  .toggler {
    display: none;
  }
}

nav {
  a {
    color: var(--clr-accent600);
  }
}
