@use "../abstracts" as *;
@use "sass:math";
@use "./root";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  scroll-behavior: smooth;

  &:is(.dark) {
    --bodyBg: var(--clr-dark500);
    --bodyTextClr: var(--clr-light900);
    --objOpacity: 0.5;
    --blendMode: multiply;
    --logoBrightness: 1000%;

    @supports (-moz-appearance: none) {
      --objOpacity: 0.25;
    }
  }

  &:is(.light) {
    --bodyBg: var(--clr-light900);
    --bodyTextClr: var(--clr-dark900);
    --blendMode: overlay;
    --objOpacity: 0.4;

    @supports (-moz-appearance: none) {
      --objOpacity: 0.25;
    }
  }
}

body {
  background: var(--bodyBg);
  height: 100%;
  line-height: var(--line-height);
  font-family: var(--main-font);
  font-size: clamp(1rem, 0.5vw + 0.5rem, 1.15rem);
  color: var(--bodyTextClr);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:has(#toggle-menu:checked) {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.browser-support-content {
  display: none;
}

@supports not selector(:has(.theme [value])) {
  :root {
    --objOpacity: 0.3;
  }

  body {
    overflow: hidden;
  }

  #browser-support-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--spacer-4);
    z-index: 100;
    width: 100%;
    height: 100%;
    background: var(--bodyBg);
    translate: 0;
    transition: all 0.25s ease;

    p {
      width: min(100%, 40rem);
      text-align: center;
      font-size: var(--spacer-6);
    }

    &:target {
      translate: 0 -200%;
    }
  }

  %mozStyledMenu {
    opacity: 1;
    scale: 1;
  }

  .top-bar--nav {
    $this: &;

    &.is-expanded {
      .toggler {
        background: var(--bodyBg);
        z-index: 2;
      }

      #{$this}-list {
        @extend %mozStyledMenu;
        z-index: 1;
      }

      .theme {
        @extend %mozStyledMenu;
        z-index: 2;
      }
    }
  }
}

.wrapper {
  width: min(100%, 125rem);
  padding: clamp(var(--spacer-3), 2vw, var(--spacer-6))
    clamp(var(--spacer-4), 2.5vw, var(--spacer-12));
  margin: auto;
  position: relative;
  z-index: 1;
}

.section {
  &--title {
    margin-block-start: var(--spacer-4);
    margin-block-end: var(--spacer-8);
  }
}
